<a class="btn btn-default" href="#/books">Go Back</a>
<hr>
<div class="row clearfix" ng-init="getGenre()">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Genre</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" ng-submit="editGenre()">
          <fieldset>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="genre.name" placeholder="Genre Name">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>