<a class="btn btn-default" href="#/genres">Go Back</a>
<hr>
<div class="row clearfix">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Genres</h3>
      </div>
      <div class="panel-body" ng-init="getGenre()">
        <h2 class="heading">{{genre.name}}</h2>
        <div class="pull-right">
          <a class="btn btn-success btn-lg" href="#/genres/edit/{{genre._id}}">EDIT</a>
          <a class="btn btn-danger btn-lg" ng-click="deleteGenre()">DELETE</a>
        </div>
      </div>
    </div>
  </div>
</div>